.navbar {
  background-color: #1c1c1c;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #3a3a3a;
}

.active-link {
  border: 2px solid #ffcc00;
  color: #ffcc00;
}
